<h1>Listing roles</h1>

<h2>Roles</h2>

<%= link_to 'New Role', new_role_path %>

<table class="dataTable">
  <tr>
    <th>Role</th>
    <th># of Users</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Admin</td>
    <td></td>
    <td>Add/Remove Users</td> 
  </tr>
<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td></td>
    <td><%= link_to 'Add/Remove Users', role %> | Delete Role</td>
  </tr>
<% end %> 

</table>

<br />

